.ALUM-AI {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.ALUM-AI .overlap-wrapper {
  background-color: #ffffff;
  height: 1200px;
  overflow: hidden;
  width: 1920px;
}

.ALUM-AI .overlap {
  height: 2535px;
  left: -92px;
  position: relative;
  top: -5px;
  width: 2305px;
}

.ALUM-AI .background-instance {
  left: 0 !important;
  position: absolute !important;
  top: 5px !important;
}

.ALUM-AI .menu {
  height: 61px;
  left: 1768px;
  position: absolute;
  top: 38px;
  width: 186px;
}

.ALUM-AI .misc {
  background-color: #ffffff;
  border-radius: 30px;
  box-shadow: 14px 17px 40px 4px #7090b014;
  height: 61px;
  position: relative;
}

.ALUM-AI .avatar-style {
  background-image: url(../AlumAi/img/avatar.png);
  background-size: 100% 100%;
  height: 41px;
  left: 136px;
  position: absolute;
  top: 10px;
  width: 39px;
}

.ALUM-AI .info-outline {
  height: 24px;
  left: 94px;
  position: absolute;
  top: 18px;
  width: 23px;
}

.ALUM-AI .moon-solid {
  height: 18px;
  left: 58px;
  position: absolute;
  top: 21px;
  width: 17px;
}

.ALUM-AI .notifications-none {
  height: 24px;
  left: 16px;
  position: absolute;
  top: 18px;
  width: 23px;
}

.ALUM-AI .for-future-uccess {
  color: #ffffff;
  font-family: "Helvetica Neue-Light", Helvetica;
  font-size: 100px;
  font-weight: 300;
  left: 622px;
  letter-spacing: 0;
  line-height: 126px;
  position: absolute;
  text-align: center;
  top: 598px;
  white-space: nowrap;
}

.ALUM-AI .trengthening {
  color: #ffffff;
  font-family: "Helvetica Neue-Light", Helvetica;
  font-size: 115px;
  font-weight: 300;
  left: 458px;
  letter-spacing: 0;
  line-height: 126px;
  position: absolute;
  text-align: center;
  top: 475px;
  white-space: nowrap;
}

.ALUM-AI .vector {
  height: 98px;
  left: 1072px;
  position: absolute;
  top: 613px;
  width: 136px;
}

.ALUM-AI .img {
  height: 98px;
  left: 411px;
  position: absolute;
  top: 488px;
  width: 136px;
}

.ALUM-AI .text-wrapper {
  color: #cbcbcb;
  font-family: "Helvetica Neue-Regular", Helvetica;
  font-size: 30px;
  font-weight: 400;
  left: 675px;
  letter-spacing: 0;
  line-height: 126px;
  position: absolute;
  text-align: center;
  top: 702px;
  white-space: nowrap;
}

.ALUM-AI .alumai-logo {
  height: 102px;
  left: 911px;
  position: absolute;
  top: 306px;
  width: 284px;
}

.ALUM-AI .type-bar {
  background-color: #d9d9d9;
  border-radius: 50px;
  height: 69px;
  left: 528px;
  position: absolute;
  top: 899px;
  width: 1046px;
}

.ALUM-AI .frame {
  align-items: center;
  display: inline-flex;
  gap: 19px;
  left: 37px;
  position: relative;
  top: 24px;
}

.ALUM-AI .record-vector {
  height: 17.5px;
  position: relative;
  width: 12.5px;
}

.ALUM-AI .picture-vector {
  height: 13.75px;
  position: relative;
  width: 16.25px;
}

.ALUM-AI .div {
  color: var(--themes-black-20);
  font-family: "Inter", Helvetica;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 20px;
  margin-top: -1px;
  position: relative;
  width: 872px;
}

.ALUM-AI .send-vector {
  height: 17.49px;
  position: relative;
  width: 15.62px;
}

.ALUM-AI .rectangle {
  height: 1200px;
  left: 92px;
  position: absolute;
  top: 5px;
  width: 25px;
}

.ALUM-AI .text-wrapper-2 {
  -webkit-text-stroke: 2px #efefef;
  color: transparent;
  font-family: "PP Rader-BoldItalic", Helvetica;
  font-size: 46px;
  font-style: italic;
  font-weight: 700;
  left: 217px;
  letter-spacing: 0;
  line-height: 126px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 146px;
}

.ALUM-AI .text-wrapper-3 {
  color: #ffffff;
  font-family: "PP Rader-Bold", Helvetica;
  font-size: 46px;
  font-weight: 700;
  left: 163px;
  letter-spacing: 0;
  line-height: 126px;
  position: absolute;
  top: 4px;
  width: 146px;
}
