.background {
  height: 100vh; /* 100% of the viewport height */
  width: 100vw;  /* 100% of the viewport width */
  position: relative;
  overflow: hidden;
}

.background .overlap-group {
  background-image: url(../AlumAi/img/bottom-gradient.png);
  background-size: cover; /* Adjust the background image to cover the container */
  background-position: center; /* Center the background image */
  height: 50%; /* 50% of the parent container's height */
  width: 100%; /* Full width */
  position: absolute;
  top: 0;
  left: 0;
}

.background .top-gradient {
  height: 15vh; /* 15% of the viewport height */
  width: 100%; /* Full width */
  position: absolute;
  top: 85vh; /* Positioned 85% from the top to leave space for the overlap group */
  left: 0;
}
