:root {
  --body-body-font-family: "Helvetica", Helvetica;
  --body-body-font-size: 14px;
  --body-body-font-style: normal;
  --body-body-font-weight: 400;
  --body-body-letter-spacing: 0px;
  --body-body-line-height: 20px;
  --body-subheading-font-family: "Helvetica Neue", Helvetica;
  --body-subheading-font-size: 14px;
  --body-subheading-font-style: normal;
  --body-subheading-font-weight: 700;
  --body-subheading-letter-spacing: 0px;
  --body-subheading-line-height: 20px;
  --shadow: 8px 4px 32px -10px rgba(0, 0, 0, 0.23);
  --themes-black-20: rgba(28, 28, 28, 0.2);
}

/*

To enable a theme in your HTML, simply add one of the following data attributes to an HTML element, like so:

<body data-themes-mode="pastel-light">
    <!-- the rest of your content -->
</body>

You can apply the theme on any DOM node, not just the `body`

*/

[data-themes-mode="pastel-light"] {
  --themes-black-20: rgba(28, 28, 28, 0.2);
}

[data-themes-mode="pastel-dark"] {
  --themes-black-20: rgba(255, 255, 255, 0.2);
}

[data-themes-mode="bright-light"] {
  --themes-black-20: rgba(46, 52, 62, 0.2);
}

[data-themes-mode="bright-dark"] {
  --themes-black-20: rgba(255, 255, 255, 0.2);
}
