:root {
  --body-body-font-family: "Helvetica", Helvetica;
  --body-body-font-size: 14px;
  --body-body-font-style: normal;
  --body-body-font-weight: 400;
  --body-body-letter-spacing: 0px;
  --body-body-line-height: 20px;
  --body-subheading-font-family: "Helvetica Neue", Helvetica;
  --body-subheading-font-size: 14px;
  --body-subheading-font-style: normal;
  --body-subheading-font-weight: 700;
  --body-subheading-letter-spacing: 0px;
  --body-subheading-line-height: 20px;
  --shadow: 8px 4px 32px -10px rgba(0, 0, 0, 0.23);
}
